<ul class="list-inline">
<li><h2>Log in</h2></li>
<li><%= link_to 'Sign up now', new_user_path, class: "btn btn-default" %></li>
<hr>
<%= form_for(:session, url: login_path)  do |f| %>
<div class="form-group col-sm-6">
    <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, :class=>"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, :class=>"form-control" %>
  </div>


  <div class="form-group">
  	 <%= f.check_box :remember_me %>
     <span>Remember me on this computer</span>
  </div>

    <%= f.submit "Log in", class: "btn btn-primary"%>
  </div>
<% end %>
</ul>
