<!DOCTYPE html>
<html>
  <head>
    <title>PuffantDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render "common/navbar" %>
      <!-- 在导航栏里面搞了登陆
       <%= render 'layouts/header' %>-->
      <%= render "common/flashes" %>
      <%= yield %>
    </div>
    <%= render 'common/footer' %>
  </body>
</html>
